/* חיבור לקובץ הצבעים */
@import './colors.css';

.about-wrapper {
  position: relative;
  overflow: hidden;
  background: var(--pearl-cream);
  color: #333;
  text-align: center;
  padding: 80px 0;
}

.background-animation {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--pearl-cream);
  animation: backgroundMove 10s infinite alternate;
}

@keyframes backgroundMove {
  0% { background-position: 0% 0%; }
  100% { background-position: 100% 100%; }
}

.about-title {
  font-weight: bold;
  font-size: 3rem;
  position: relative;
  z-index: 2;
  color: var(--soft-coral); 
}
.magic-text {
  background: linear-gradient(45deg, var(--soft-yellow), var(--mint-green), var(--soft-coral), var(--light-blue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  animation: magicText 3s linear infinite;
}

@keyframes magicText {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.subtitle-wrapper {
  position: relative;
  z-index: 10;
  margin-bottom: 7%;
}

.about-sections{
  margin-top: 20px;
}
/* כותרת משנה */
/* .about-subtitle-wrapper {
  opacity: 1;
} */

.about-subtitle {
  font-size: 1.3rem;
  margin-bottom: 40px;
  color: var(--mint-green); /* צבע מתוך הפלטה שלך */
  /*transition: opacity 1s ease;*/
}



.about-sections {
  margin-top: 20px;
}

.card-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.about-card {
  width: 100%;
  height: 200px; /* שינוי גובה */
  padding: 20px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card-wrapper:hover .about-card {
  transform: translateY(-5px) scale(1.05);
}

.card-title {
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--soft-coral); /* צבע טקסט בהיר */
}

.card-title, .about-card p {
  color: #333; /* ניגודיות טובה יותר לטקסט */
}

.cta-wrapper {
  margin-top: 40px;
}

.join-button {
  padding: 15px 30px;
  font-size: 1.3rem;
  border-radius: 30px;
  background: linear-gradient(135deg, var(--soft-yellow), var(--mint-green));
  color: white;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 15px rgba(255, 99, 71, 0.6);
}

.join-button:hover {
  background: linear-gradient(135deg, var(--mint-green), var(--soft-yellow));
  transform: scale(1.1);
  box-shadow: 0px 8px 20px rgba(255, 99, 71, 0.9);
}

/* ריבועים עם צבעים משתנים */
.card-wrapper.color-0:hover .about-card {
  background-color: var(--light-blue);
}

.card-wrapper.color-1:hover .about-card {
  background-color: var(--soft-yellow);
}

.card-wrapper.color-2:hover .about-card {
  background-color: var(--mint-green);
}

.card-wrapper.color-3:hover .about-card {
  background-color: var(--soft-coral);
}
