.about-container {
    padding: 20px;
    margin-top: 600px;
    margin-bottom: 20px;
  }
  
  .about-title {
    text-align: center;
    margin-bottom: 20px;
    color: #3f51b5;
  }
  
  .about-description {
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.2rem;
  }
  
  .about-section {
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .section-title {
    color: #f50057;
  }
  
  .about-conclusion {
    text-align: center;
    margin-top: 40px;
    color: #3f51b5;
  }
  
  ul {
    padding-left: 20px;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .about-container {
      padding: 10px;
    }
  
    .about-title {
      font-size: 1.5rem;
    }
  
    .about-description {
      font-size: 1rem;
    }
  
    .section-title {
      font-size: 1.2rem;
    }
  
    .about-conclusion {
      font-size: 1.2rem;
    }
  }