.auth-form {
  display: flex;
  flex-direction: column;
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
}

.submit-btn, .upload-btn {
  margin-top: 20px;
  background-color: #1976d2;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.submit-btn:hover, .upload-btn:hover {
  background-color: #105a8d;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.submit-btn:active, .upload-btn:active {
  background-color: #0b3c5d;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.submit-btn:focus, .upload-btn:focus {
  outline: none;
  box-shadow: 0px 0px 0px 3px rgba(33, 150, 243, 0.5);
}

.upload-btn {
  margin-bottom: 20px; /* Add margin to separate the buttons */
}