.auth-form {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  width: 30%;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-right: 35%;
}
.auth-form-login {
  display: flex;
  flex-direction: column;
  margin-top: 5%;  

}
.auth-form-update{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}
.form-title {
  text-align: center;
  margin-bottom: 20px;
}

.submit-btn, .upload-btn {
  margin-top: 20px;
  background-color: #ff6f61;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.submit-btn:hover, .upload-btn:hover {
  background-color: #ff9a8b;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.submit-btn:active, .upload-btn:active {
  background-color: #ff6f61;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.submit-btn:focus, .upload-btn:focus {
  outline: none;
  box-shadow: 0px 0px 0px 3px rgba(255, 105, 135, 0.5);
}

.upload-btn {
  margin-bottom: 20px; /* Add margin to separate the buttons */
}

input{
  width: 100px;
  align-items: center;

}

.home-icon {
  position: absolute;
  top: 5px; /* מיקום גבוה יותר */
  right: 5px; /* בצד ימין */
}

.register-link {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.register-link a {
  text-decoration: none;
  color: #ff6f61;
  font-weight: bold;
}

.register-link a:hover {
  color: #ff9a8b;
}