html, body {
  height: 100%; /* כל הגובה של הדף */
  margin: 0; /* ביטול מרווחים דיפולטיביים */
}

/* עיצוב כללי ל-HeaderFooter */
.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative; /* חשוב, כדי שהפוטר ידע להיתמך עליו */
}

.content-container {
  flex: 1; /* מבטיח שהתוכן יתפוס את כל הגובה הפנוי */
  width: 100%;
  overflow: auto; /* אם התוכן ארוך, הוא יגלול */
}

.app-bar {
  background-color: #e8a3be; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.app-title {
  flex-grow: 1;
  margin-left: 16px;
  padding: 20px;
  color: #fff;
  animation: fadeInOut 10s linear infinite;
}

/* אנימציה fade-in-out */
@keyframes fadeInOut {
  0%, 20%, 80%, 100% { opacity: 0; }
  40%, 60% { opacity: 1; }
}

.footer {
  background-color: #ee95e0;
  padding: 30px 0;
  color: #fff;
  text-align: center;
  width: 100%;
  position: absolute; /* פוטר שנדבק לתחתית */
  bottom: 0; /* תמיד בתחתית */
}
  .layout-container {
    width: 1520px;
  }

  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-name {
    margin-left: 10px;
    color: #fff;
  }

  .logo {
    height: 50px; /* או גודל אחר לפי הצורך */
    margin-right: 15px;
  }
  