/* עיצוב כללי ל-HeaderFooter */
.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
  }
  
  .content-container {
    flex: 1;
    width: 100%;
  }
  
  /* תפריט עליון */
  .app-bar {
    background-color: #e8a3be; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  .app-title {
    flex-grow: 1;
    margin-left: 16px;
    padding: 20px;
    color: #fff; /* Set text color to white */
  animation: fadeInOut 10s linear infinite; /* Apply the fade-in-out animation */
  }

/* Text fade-in-out animation */
@keyframes fadeInOut {
  0%, 20%, 80%, 100% { opacity: 0; }
  40%, 60% { opacity: 1; }
}
  
  /* תחתית העמוד */
  .footer {
    background-color: #ee95e0; /* כחול כהה */
    padding: 30px 0;
    color: #fff;
    text-align: center;
    width: 100%;
  }

  .layout-container {
    width: 1520px;
  }

  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-name {
    margin-left: 10px;
    color: #fff;
  }