/* עיצוב כללי לדף הבית */
.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%; /* כיסוי רוחב מלא */
  font-family: 'Arial', sans-serif;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 5%;
}

/* אזור הגיבור */
.hero-section {
  background-color: #d6878bac; /* ירוק טורקיז */
  padding: 80px 20px; /* התאמת הריווח למסכים קטנים יותר */
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.hero-container {
  position: relative;
  z-index: 2;
}

.hero-title {
  font-size: 3rem; /* התאמת גודל הטקסט למסכים קטנים יותר */
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 40px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; /* התאמה למסכים קטנים יותר */
}

.hero-button {
  font-size: 1.2rem;
  padding: 15px 30px;
  border-radius: 50px;
  text-transform: none;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.hero-button:hover {
  opacity: 0.9;
}

/* אזור תכונות */
.features-section {
  padding: 60px 20px; /* התאמת הריווח למסכים קטנים יותר */
  background-color: #fbeeff; /* צהוב חרדל */
  color: #333;
  width: 100%;
}

.features-container {
  max-width: 1200px;
  margin: 0 auto;
}

.feature-card {
  padding: 20px; /* התאמת הריווח למסכים קטנים יותר */
  text-align: center;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #f9c7e5; /* כתום בהיר */
  color: #fff;
}

.feature-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 1.2rem;
  }

  .feature-card {
    padding: 20px;
  }
}