.talents-container {
    margin-top: 20px;
    direction: rtl; /* Right-to-left direction for Hebrew */
  }
  
  .talent-card {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: right; /* Align text to the right */
  }
  
  .talent-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .talent-card .talent-name {
    font-size: 1.8em;
    font-weight: bold;
    color: #b53f8c;
    margin-bottom: 10px;
    text-align: center; /* Center the title */
  }
  
  .talent-card .sub-talents {
    margin-top: 10px;
    padding-left: 20px;
    border-left: 3px solid #b53fa5;
  }
  
  .talent-card .sub-talents .sub-talent {
    margin-bottom: 5px;
    font-size: 1.2em;
    color: #b07f96;
    transition: color 0.3s ease;
    text-align: right; /* Align text to the right */
  }
  
  .talent-card .sub-talents .sub-talent:hover {
    color: #b53f8a;
  }
  
  .add-talent-card {
    padding: 20px;
    margin-top: 20px;
    background-color: #ffffff;
    border: 2px dashed #b53f80;
    border-radius: 8px;
    text-align: right; /* Align text to the right */
    direction: rtl; /* Right-to-left direction for Hebrew */
  }
  
  .add-talent-card h6 {
    color: #b53f98;
    text-align: center; /* Center the title */
  }
  
  .add-talent-card .MuiFormControl-root,
  .add-talent-card .MuiTextField-root {
    margin-bottom: 15px;
  }
  
  .add-talent-card .MuiButton-containedPrimary {
    background-color: #c94891;
  }
  
  .snackbar-success {
    background-color: #4caf50;
  }